<nav class="navbar navbar-expand-lg navbar-dark bg-dark bg-gradient">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/home">
      <img src="assets/img/RoboulotWhite.png" alt="Roboulot">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link"
          *ngIf="storageService.isLoggedIn()"
          routerLink="/recherche">Offres</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/compte">Compte</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/connexion">Connexion</a>
        </li>
        <li class="nav-item">
          <a
          *ngIf="storageService.isLoggedIn()"
          class="nav-link"
          (click) = "logout()">Déconnexion</a>
        </li>
        <li class="nav-item">
          <a *ngIf="!storageService.isLoggedIn()"
          class="nav-link" routerLink="/inscription">Inscription</a></li>
      </ul>
    </div>
  </div>
</nav>
